body {margin:0;padding:0;background-color:#white;}
ul {margin: 0px; list-style:none;padding:0px; }

#title-box{
  position:absolute;
  left:25%;
}

#Tens-Box,#dollar-box {
  margin: 2px; 
}

#console-box{
  position:absolute;
  top:48px; 
  right:48px;
  height:400px;
  width:300px;
  background-color:#000;
  color: #FFFFFF;
  font-family: monospace;
  padding:6px; 
}

#GiftCard-box {
 position:absolute; 
 top: 200px;
 left: 6%; 
 width: 580px; 
 height: 600px; 
 background-color: #white;
 padding: 12px; 
 display:flex;
 flex-flow: column; 
 align-content: center;
 align-items: center;
 justify-content:center; 
}

.dollar-tens {
  list-style:none; 
  display:flex;
  width: 90px;
  height: 250px; 
  flex-flow: column; 
  border: solid 20px; 
  float: left; 
}
.dollar-tens-box {
  height:250px;
  width:50px;
  background: blue;
  font-size: 20px;
  text-align: center;
  margin: 15px;
}

.dollar-ones {
  list-style:none; 
  display:flex;
  width: 250px;
  height: 250px; 
  flex-flow: row wrap; 
  border: solid 20px; 
  clear: right;  
}
.dollar-ones-box {
  height:50px;
  width:50px;
  background: blue;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.selected {
  background-color: yellow;
  font-weight: bold; 
}